.resetPasswordHeading {
    margin: 3.5rem 0;
    font-weight: bold;
    font-size: 2.75rem;
}

.resetPasswordFormContainer {
    width: 22.3rem;
    margin-bottom: 20rem;
}

.formLabelInput {
    display: block;
    margin: 1.25rem 0 0.75rem 0;
    font-size: 1.125rem;
}

.formLabel {
    color: #393939;
    font-weight: bold;
}

.formInput {
    width: 22.3rem;
    height: 2.625rem;
    padding: 0 1rem;
    outline: none;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 21px;
    color: #393939;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}