.eventsHeading {
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.eventsMain {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-bottom: 4rem;
}

.events {
    width: 100%;
}

.categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 3.5rem;
    max-width: 1200px;
    gap: 3rem;
}